# editor configs
.idea/
.vscode/


coverage/
dist/
stats/

# packages that have lib as the output
packages/digest/lib
packages/perf-test/lib
packages/playground/lib

package.json

packages/ability-attributes/src/schema.ts
