.sui-page-header {
  margin: 4rem 0 2.25rem;
  font-size: 1.7rem;
  line-height: 2.5rem;
}

.sui-page-header__title {
  margin: 0 0 1rem 0;
  max-width: 65rem;
  font-size: 2.65em;
  line-height: 1.15em;
}

.sui-page-header__description {
  display: block;
  max-width: 65rem;
  margin: 0;
  font-size: 2.15rem;
  font-weight: 300;
  line-height: 1.35;
}

@media screen and (max-width: 568px) {
  .sui-page-header__title {
    margin-bottom: 1.5rem;
  }
}
