[data-theme="light"] {
  --sui-color: #000;
  --sui-color-muted: #666;
  --sui-accent-color: #aba4f7;
  --sui-accent-color-bold: #554acc;
  --sui-accent-color-foreground: #000;
  --sui-accent-color-background: rgba(238, 237, 255, 0.5);
  --sui-background: #f7f8f9;
  --sui-navbar-background: #fff;
  --sui-shadow-color: rgba(50, 50, 93, 0.25);
  --sui-link-color: #000;
  --sui-rail-background: #fff;

  --sui-card-background: #fff;
  --sui-card-border-color: #eee;
  --sui-card-footer-background: rgb(248, 248, 248);

  --sui-divider-color: #ccc;
  --sui-search-background: #eee;
  --sui-search-color: inherit;
  --sui-search-placeholder-color: initial;

  --sui-playground-banner-background: #fff;
}
