version: 2
general:
  branches:
    ignore:
      - gh-pages
jobs:
  build:
    docker:
      - image: circleci/node:8-browsers
    environment:
      TZ: "/usr/share/zoneinfo/America/Los_Angeles"
    steps:
      # https://circleci.com/docs/2.0/api-job-trigger/
      - run:
          name: Start Visual Tests job
          command: |
            curl --user ${CIRCLE_API_USER_TOKEN} \
              --data build_parameters[CIRCLE_JOB]=visual \
              --data revision=$CIRCLE_SHA1 \
              https://circleci.com/api/v1.1/project/github/$CIRCLE_PROJECT_USERNAME/$CIRCLE_PROJECT_REPONAME/tree/$CIRCLE_BRANCH
      - run:
          name: Update yarn
          command: |
            # remove default yarn
            sudo rm -rf $(dirname $(which yarn))/yarn*
            # download latest
            rm -rf ~/.yarn
            curl -o- -L https://yarnpkg.com/install.sh | bash
            echo 'export PATH="${PATH}:${HOME}/.yarn/bin"' >> $BASH_ENV
      - checkout
      # because we don't invoke npm (we use yarn) we need to add npm bin to PATH manually
      - run:
          name: Add npm bin to PATH
          command: echo 'export PATH="${PATH}:$(npm bin)"' >> $BASH_ENV
      - restore_cache:
          keys:
            - v1.1-dependencies-{{ checksum "yarn.lock" }}
            - v1.1-dependencies
      - run:
          name: Install Dependencies
          command: yarn
      - save_cache:
          key: v1.1-dependencies-{{ checksum "yarn.lock" }}
          paths:
            - ~/.cache/yarn
            - .yarn-cache
            - node_modules
      - run:
          name: Lint
          command: yarn lint
      - run:
          name: Prettier
          command: yarn prettier
      - run:
          name: Unit Tests
          command: yarn test --maxWorkers=2
      - run:
          name: Report coverage
          command: bash <(curl -s https://codecov.io/bash)

      - restore_cache:
          key: v1.1-vuln-scans-{{ checksum "yarn.lock" }}
      - run:
          name: Vulnerability Tests
          command: yarn test:vulns
      # https://discuss.circleci.com/t/add-mechanism-to-update-existing-cache-key/9014/12
      - save_cache:
          key: v1.1-vuln-scans-{{ checksum "yarn.lock" }}-{{ epoch }}
          paths:
            - .vuln-scans

      - run:
          name: Project Tests
          command: yarn test:projects
      - run:
          name: Circular Dependencies Tests
          command: yarn test:circulars
      - run:
          name: Bundle Statistics (master only)
          command: |
            if [ $CIRCLE_BRANCH == 'master' ]; then
              yarn stats:build
            else
              echo 'skip bundle statistics collection'
            fi
      - run:
          name: Performance Tests (master only)
          command: |
            if [ $CIRCLE_BRANCH == 'master' ]; then yarn perf; fi
      - run:
          name: Save Statistics to DB (master only)
          command: |
            if [ $CIRCLE_BRANCH == 'master' ] && [ -n "${STATS_URI}" ]; then
              yarn stats:save --tag=`git tag --points-at HEAD`
            else
              echo 'skip saving statistics'
            fi
      - run:
          name: Danger JS
          command: |
            if [ ! -z $CIRCLE_PULL_REQUEST ] && [ ! -z $DANGER_GITHUB_API_TOKEN ]; then
              yarn danger ci
            fi
      - run:
          name: Publish npm package (master only)
          command: |
            if [ -n "${npm_TOKEN}" ] && [ "${CIRCLE_BRANCH}" == "master" ]; then
              echo "//registry.npmjs.org/:_authToken=${npm_TOKEN}" > ~/project/.npmrc
              yarn lerna publish --canary --preid "${CIRCLE_BUILD_NUM}.${CIRCLE_BRANCH}" --yes
            fi

  visual:
    docker:
      - image: circleci/node:8
    environment:
      TZ: "/usr/share/zoneinfo/America/Los_Angeles"
    steps:
      - run:
          name: Update yarn
          command: |
            # remove default yarn
            sudo rm -rf $(dirname $(which yarn))/yarn*
            # download latest
            rm -rf ~/.yarn
            curl -o- -L https://yarnpkg.com/install.sh | bash
            echo 'export PATH="${PATH}:${HOME}/.yarn/bin"' >> $BASH_ENV
      - checkout
      # because we don't invoke npm (we use yarn) we need to add npm bin to PATH manually
      - run:
          name: Add npm bin to PATH
          command: echo 'export PATH="${PATH}:$(npm bin)"' >> $BASH_ENV
      - restore_cache:
          keys:
            - v1.1-dependencies-{{ checksum "yarn.lock" }}
            - v1.1-dependencies
      - run:
          name: Install Dependencies
          command: yarn
      - save_cache:
          key: v1.1-dependencies-{{ checksum "yarn.lock" }}
          paths:
            - ~/.cache/yarn
            - .yarn-cache
            - node_modules

      - run:
          name: Visual Tests
          command: yarn test:visual
