.home-wrapper {
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.home-content {
  min-width: 0;
  padding: 0 10vw;
  font-size: 1.95rem;
  line-height: 2.75rem;
}

.home-title {
  margin: 0;
  font-size: 9.5rem;
  line-height: 1em;
  background: linear-gradient(
    to right,
    #cc3721,
    #f69570,
    #b024d6,
    #c42974,
    #cf2e3e
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.home-body {
  max-width: 65rem;
  margin: 4rem 0;
  font-size: inherit;
  line-height: inherit;
}

.home-body ul {
  display: flex;
  list-style: none;
  margin: 5rem 0 0;
  padding: 0;
}

.home-body li a {
  margin: 0 0.5rem 0 0;
  padding: 0.75rem;
  color: inherit;
  text-decoration: none;
  background: none;
  border-radius: 0.35rem;
  border: 1px solid transparent;
}

.home-body li:first-child a,
.home-body li a:focus,
.home-body li a:hover {
  color: #fff;
  background: #000;
  border: 1px solid #ccc;
}

@media screen and (max-width: 568px) {
  .home-wrapper {
    align-items: start;
    margin: 3rem 0 0;
  }

  .home-title {
    font-size: 5rem;
  }

  .home-content {
    padding: 0 7vw;
    font-size: 1.75rem;
    line-height: 1.5em;
  }

  .home-body {
    margin: 3rem 0;
  }

  .home-body ul {
    display: block;
    margin: 3rem 0;
  }

  .home-body li a {
    display: block;
    border: 1px solid #aaa;
    margin-bottom: 1rem;
  }
}
