/******************************************************************************
   List Container
 *****************************************************************************/
.sui-list-container {
  position: relative;
  display: flex;
  justify-content: flex-end;
  margin: 0 0 1rem 0;
}

/******************************************************************************
   List
 *****************************************************************************/
.sui-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

/******************************************************************************
   List Controls
 *****************************************************************************/
.sui-list-controls {
  position: sticky;
  top: 5rem;
  margin: 0 1rem 0 0;
  min-width: 20rem;
}

.sui-list-controls__header {
  display: block;
  margin: 0 0.75rem 0 0;
  padding: 0 0 0.75rem 0;
  font-size: 1.75rem;
  font-weight: 600;
  border-bottom: 1px solid var(--sui-divider-color);
}

/******************************************************************************
   List Item (Default View)
 *****************************************************************************/
.sui-list-item {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0 0 1.25rem 0;
  padding: 0.5rem;
  color: inherit;
  text-decoration: none;
  border: 1px solid transparent;
  background: var(--sui-card-background);
  border: 1px solid var(--sui-card-border-color);
  border-radius: 0.5rem;
  box-shadow: 3px 5px 5px -5px var(--sui-shadow-color);
}

.sui-list-item::after {
  content: "";
  position: absolute;
  top: -6px;
  left: -15px;
  right: -15px;
  bottom: -6px;
  background: var(--sui-accent-color-background);
  border-radius: 0.5rem;
  box-shadow: 0 6px 30px 0 rgba(0, 0, 0, 0.12);
  opacity: 0;
  transition: transform 0.1s ease;
  transform: scale(0.95);
  z-index: -1;
}

.sui-list-item:nth-of-type(even) {
  background: var(--sui-card-background-alt);
}

.sui-list-item:focus,
.sui-list-item:hover {
  cursor: pointer;
  outline: none;
  box-shadow: none !important;
  background: var(--sui-accent-color-background);
  border-color: transparent !important;
}

.sui-list-item:focus::after,
.sui-list-item:hover::after {
  transform: scale(1);
  border: 1px solid var(--sui-accent-color);
  box-shadow: 3px 5px 5px -5px var(--sui-accent-color);
  opacity: 1;
}

.sui-list-item__preview {
  display: flex;
  width: 17.5rem;
  height: 8rem;
  margin: 0 1.5rem 0 0;
  overflow: hidden;
}

.sui-list-item__details {
  flex: 1;
  align-self: center;
  padding: 1.25rem;
  font-size: 1.6rem;
  font-weight: 300;
}

.sui-list-item__title {
  margin: 0 0 0.3rem 0;
  font-size: 2rem;
  font-weight: 600;
}

/******************************************************************************
   List Item (Grid View)
 *****************************************************************************/
[data-prefer-grid-view="true"] .sui-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1.5rem;
}

[data-prefer-grid-view="true"] .sui-list-item {
  display: block;
  overflow: hidden;
  padding: 0;
  border: 1px solid var(--sui-card-border-color);
  border-radius: 0.75rem;
  box-shadow: 3px 5px 5px -5px var(--sui-shadow-color);
  transition: transform 0.1s;
  transform: translateZ(0);
  transition-property: transform border;
  will-change: transform border;
}

[data-prefer-grid-view="true"] .sui-list-item__preview {
  display: flex;
  width: 100%;
  justify-content: center;
  align-content: center;
  height: 14rem;
  background: var(--sui-card-background);
  background-size: contain;
  pointer-events: none;
  opacity: 0.9;
  transition: 0.15s opacity;
  will-change: opacity;
}

[data-prefer-grid-view="true"] .sui-list-item__details {
  padding: 1rem;
  color: inherit;
  font-size: 1.65rem;
  text-decoration: none;
  background: var(--sui-card-footer-background);
  border-top: 1px solid var(--sui-card-border-color);
}

[data-prefer-grid-view="true"] .sui-list-item__description {
  display: none;
}

[data-prefer-grid-view="true"] .sui-list-item:focus .sui-list-item__preview,
[data-prefer-grid-view="true"] .sui-list-item:hover .sui-list-item__preview {
  opacity: 1;
}

@media screen and (max-width: 768px) {
  [data-prefer-grid-view="true"] .sui-list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 568px) {
  [data-prefer-grid-view="true"] .sui-list {
    grid-template-columns: 1fr 1fr;
  }

  .sui-list-item__preview {
    display: none;
  }
}

@media screen and (max-width: 420px) {
  [data-prefer-grid-view="true"] .sui-list {
    grid-template-columns: 1fr;
  }
}
