/******************************************************************************
   List Header
 *****************************************************************************/
.sui-list-header {
  display: flex;
  justify-content: flex-end;
  margin: 0 0 1rem 0;
}

.sui-list-header__view-as {
  margin: 0 0.75rem 0 0;
  font-weight: 600;
}

/******************************************************************************
   List
 *****************************************************************************/
.sui-list {
  margin: 0 0 5em;
  padding: 0;
  list-style: none;
}

/******************************************************************************
   List Item (Default View)
 *****************************************************************************/
.sui-list-item {
  display: block;
  margin: 0 0 1rem 0;
  color: inherit;
  text-decoration: none;
  border: 1px solid transparent;
  border-radius: 0.5rem;
  background: var(--sui-card-background);
  box-shadow: 3px 5px 5px -5px var(--sui-shadow-color);
}

.sui-list-item__preview {
  display: none;
}

.sui-list-item__details {
  padding: 1.25rem;
  font-size: 1.6rem;
}

.sui-list-item__title {
  margin: 0 0 0.3rem 0;
  font-size: 1.75rem;
  font-weight: 600;
}

.sui-list-item:focus,
.sui-list-item:hover {
  cursor: pointer;
  outline: none;
  border-color: var(--sui-accent-color) !important;
  box-shadow: 3px 5px 5px -5px var(--sui-accent-color) !important;
}

/******************************************************************************
   List Item (Default + Previews)
 *****************************************************************************/
[data-enable-previews="true"] .sui-list-item {
  display: flex;
  border: none !important;
  box-shadow: none !important;
  background: none;
}

[data-enable-previews="true"] .sui-list-item__details {
  border: 1px solid transparent;
  border-radius: 0.5rem;
  background: var(--sui-card-background);
  box-shadow: 3px 5px 5px -5px var(--sui-shadow-color);
}

[data-enable-previews="true"] .sui-list-item__preview {
  display: flex;
  width: 17.5rem;
  height: 8rem;
  margin: 0 1.5rem 0 0;
  overflow: hidden;
}

[data-enable-previews="true"] .sui-list-item__details {
  flex: 1;
  align-self: center;
}

[data-enable-previews="true"] .sui-list-item:focus .sui-list-item__details,
[data-enable-previews="true"] .sui-list-item:hover .sui-list-item__details {
  border-color: var(--sui-accent-color);
  box-shadow: 3px 5px 5px -5px var(--sui-accent-color);
}

/******************************************************************************
   List Item (Grid View)
 *****************************************************************************/
[data-prefer-grid-view="true"] .sui-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1.5rem;
}

[data-prefer-grid-view="true"] .sui-list-item {
  display: block;
  overflow: hidden;
  border: 1px solid var(--sui-card-border-color);
  border-radius: 0.75rem;
  box-shadow: 3px 5px 5px -5px var(--sui-shadow-color);
  transition: transform 0.1s;
  transform: translateZ(0);
  transition-property: transform border;
  will-change: transform border;
}

[data-prefer-grid-view="true"] .sui-list-item__preview {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 14rem;
  background: var(--sui-card-background);
  background-size: contain;
  pointer-events: none;
  opacity: 0.9;
  transition: 0.15s opacity;
  will-change: opacity;
}

[data-prefer-grid-view="true"] .sui-list-item__details {
  padding: 1rem;
  color: inherit;
  font-size: 1.65rem;
  text-decoration: none;
  background: var(--sui-card-footer-background);
  border-top: 1px solid var(--sui-card-border-color);
}

[data-prefer-grid-view="true"] .sui-list-item__description {
  display: none;
}

[data-prefer-grid-view="true"] .sui-list-item:focus .sui-list-item__preview,
[data-prefer-grid-view="true"] .sui-list-item:hover .sui-list-item__preview {
  opacity: 1;
}

@media screen and (max-width: 768px) {
  [data-prefer-grid-view="true"] .sui-list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 568px) {
  [data-prefer-grid-view="true"] .sui-list {
    grid-template-columns: 1fr 1fr;
  }

  [data-enable-previews="true"] .sui-list-item__preview {
    display: none;
  }
}

@media screen and (max-width: 420px) {
  [data-prefer-grid-view="true"] .sui-list {
    grid-template-columns: 1fr;
  }
}
