/******************************************************************************
   List
 *****************************************************************************/
.sui-list {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

/******************************************************************************
   List Section
 *****************************************************************************/
.sui-list-section {
}

.sui-list-section__title {
  font-weight: 500;
  font-size: 2.5rem;
}

/******************************************************************************
   List Item Defaults (Shared Between List and Grid Views)
 *****************************************************************************/
.sui-list-item__body {
  display: flex;
  color: inherit;
  background: var(--sui-card-background);
  text-decoration: none;
}

.sui-list-item__preview {
  overflow: hidden;
}

.sui-list-item__title {
  font-size: 1.5rem;
  font-weight: 400;
  text-transform: uppercase;
}

.sui-list-item__description {
  color: var(--sui-color-muted);
}

/******************************************************************************
   List Item (Default View)
 *****************************************************************************/
[data-prefer-grid-view="false"] {
  max-width: 95rem;
  border: 1px solid var(--sui-card-border-color);
}

[data-prefer-grid-view="false"] .sui-list-item {
  border-bottom: 1px solid var(--sui-card-border-color);
}

[data-prefer-grid-view="false"] .sui-list-item__body {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  padding: 1rem;
  color: inherit;
  text-decoration: none;
  background: var(--sui-card-background);
}

[data-prefer-grid-view="false"] .sui-list-item__preview {
  display: flex;
  width: 17.5rem;
  height: 8rem;
  margin: 0 1.5rem 0 0;
}

[data-prefer-grid-view="false"] .sui-list-item__details {
  flex: 1;
}

[data-prefer-grid-view="false"] .sui-list-item__title {
  margin: 0 0 0.25rem 0;
}

[data-prefer-grid-view="false"] .sui-list-item__description {
  max-width: 50rem;
}

/******************************************************************************
   List Item (Grid View)
 *****************************************************************************/
[data-prefer-grid-view="true"] {
  display: flex;
  flex-wrap: wrap;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

[data-prefer-grid-view="true"] .sui-list-item {
  display: flex;
  height: 20rem;
  margin: 0;
  border: 1px solid var(--sui-card-border-color);
  overflow: hidden;
}

[data-prefer-grid-view="true"] .sui-list-item__body {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 0;
}

[data-prefer-grid-view="true"] .sui-list-item__preview {
  flex: 1;
  display: flex;
  height: auto;
  width: 100%;
  margin: 0;
  overflow: hidden;
  justify-content: center;
  align-content: center;
  pointer-events: none;
  transition: 0.15s opacity;
  will-change: opacity;
}

[data-prefer-grid-view="true"] .sui-list-item__details {
  flex: 0;
  width: 100%;
  color: inherit;
  text-align: left;
  text-decoration: none;
}

[data-prefer-grid-view="true"] .sui-list-item__title {
  font-size: 1.5rem;
  font-weight: 300;
  padding: 1rem;
  text-transform: uppercase;
  background: var(--sui-card-banner-background);
}

[data-prefer-grid-view="true"] .sui-list-item__description {
  position: absolute;
  padding: 1rem;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 80%;
  color: var(--sui-card-description-foreground);
  background: var(--sui-card-description-background);
  transform: translateY(105%);
  transition: 0.085s transform;
  transition-timing-function: ease-in;
  will-change: transform;
  z-index: 1;
}

[data-prefer-grid-view="true"] .sui-list-item__body:focus,
[data-prefer-grid-view="true"] .sui-list-item__body:hover {
  outline: 1px solid var(--sui-accent-color);
  outline-offset: -1px;
  z-index: 1;
}

[data-prefer-grid-view="true"]
  .sui-list-item__body:focus
  .sui-list-item__description,
[data-prefer-grid-view="true"]
  .sui-list-item__body:hover
  .sui-list-item__description {
  transition: transform 0.2s;
  transition-timing-function: ease-out;
  transition-property: transform;
  transform: translateY(0);
}

@media screen and (max-width: 768px) {
  [data-prefer-grid-view="true"] {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 568px) {
  [data-prefer-grid-view="true"] {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 420px) {
  [data-prefer-grid-view="true"] {
    grid-template-columns: 1fr;
  }
}
